.headerSubMenu{
    background-color: rgba(0,144,218,1.0);
    width: 100%;
    height: 35px;
  
}

.lang{
    margin-left: 900px;
    color: rgb(0,50,50)
    
}
.prof{
    margin-left: 10px;
    color: rgb(0,50,50)

}
.home{
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 10px;

}
.navbar-brand{
    margin-right: 75px;
    margin-bottom: 10px;
    margin-left: 10px;
}